<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Company name</th>
      <th>Country</th>
      <th>City</th>
      <th>Direct number</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.user.email %></td>
        <td><%= profile.first_name %></td>
        <td><%= profile.last_name %></td>
        <td><%= profile.company_name %></td>
        <td><%= profile.country %></td>
        <td><%= profile.city %></td>
        <td><%= profile.direct_number %></td>
        <td><%= profile.position %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
