<script>
  $(document).ready(function(){
    var checkboxes = $("input[type='checkbox']");
    if(checkboxes.prop("checked")){
        document.getElementById("check_all").innerHTML = "Deselect All";
    }
    else {
        document.getElementById("check_all").innerHTML = "Select All";
    }
   $('#check_all').on("click", function() {
    if(checkboxes.prop("checked")){
        checkboxes.prop("checked",false);
        document.getElementById("check_all").innerHTML = "Select All";
    }
    else {
        checkboxes.prop("checked",true);
        document.getElementById("check_all").innerHTML = "Deselect All";
    }
  });
});
</script>
<div>
<table width="100%" padding="0"><tr>
  <td width="10%"><%= link_to '<i class="fa fa-angle-double-left"></i> Back'.html_safe , profiles_path, class: 'btn btn-default' %></td>
  <td width="80%" align="center"><h3><%= @profile.full_name %></h3></td>
  <td width="10%"><%= link_to 'Edit Profile Details', edit_profile_path(@profile), class: 'btn btn-default' %></td>
</tr></table>
</div>
<hr>
<div class="col-lg-3 col-sm-4">
  <h2><%= @profile.full_name %></h2>

  <h4>
    <strong>Company:</strong>
    <%= @profile.company_name %> – <%= ISO3166::Country[@profile.country] %>
  </h4>

  <p>
    <strong><i class="fa fa-building"></i> Office:</strong>
    <%= @profile.city %>
  </p>

  <p>
    <strong><i class="fa fa-phone"></i> Direct number:</strong>
    <%= @profile.direct_number %>
  </p>

  <p>
    <strong><i class="fa fa-briefcase"></i> Position:</strong>
    <%= @profile.position %>
  </p>

  <p>
    <strong><i class="fa fa-envelope-o"></i> Email Address:</strong>
    <a href="mailto:<%= @profile.user.email%>"><%= @profile.user.email %></a>
  </p>
  <p>
    <h4>Your Clients:</h4>
    <% if @profile.user.clients.empty? %>
      <p><i>No clients assigned.</i></p>
    <% else %>
      <% @profile.user.clients.all.each do |c| %>
        <span class="label label-default" style="font-size: 10pt; font-weight: 400;"><%= c.client_name %> – <%= ISO3166::Country[c.country] %></span><br><br>
      <% end %>
    <% end %>
  </p>
</div>

<div class="col-lg-9 col-sm-8">
  <div style="padding-top: 25px;">

<% if (current_user.has_role? :admin) || (current_user.has_role? :super_admin) %>
  <h4>Manage Clients:</h4>
  <div style="float: left;"><%= form_for @profile.user, url: user_assign_clients_path(@profile.user) do |f| %>
    <ul style="list-style: none;"><% @clients.each do |client| %>
      <li class="col-lg-5 col-md-6 col-sm-12">
          <%= hidden_field_tag "user[client_ids][]" %>
          <%= check_box_tag "user[client_ids][]", client.id, @profile.user.clients.include?(client) %>
          <%= client.client_name %>
      </li>
    <% end %></ul>
    </div>
    <div style="float: right;"><button type="button" id="check_all" class="btn btn-default"><%= "Check all/Uncheck all" %></button>
     <%= f.submit "Save", class: 'btn btn-primary' %></div>
  <% end %>
<% end %>  

  
  </div>
</div>