<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @profile.company_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Direct number:</strong>
  <%= @profile.direct_number %>
</p>

<p>
  <strong>Position:</strong>
  <%= @profile.position %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user.email %>
</p>

<p>
  <strong>Your Clients:</strong>
  <ul>
  <% @profile.user.clients.all.each do |c| %>
    <li><%= c.client_name %> – <%= ISO3166::Country[c.country] %></li>
  <% end %>
  </ul>
</p>
<div>
	<strong>Assign Clients:</strong>
	  <% @clients.all.each do |client| %>
	      <li>
        <%= check_box_tag "user[client_ids][]", client.id %>
        <%= client.client_name %>
        </li>
	  <% end %>
	  <br>
</div>

<div style="margin-top: 50px;">
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
</div>