<p id="notice"><%= notice %></p>

<h1>Listing Clients</h1>

<table class="table">
  <thead>
    <tr>
      <th>Client name</th>
      <th>Country</th>
      <th>Location</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.client_name %></td>
        <td><%= client.country %></td>
        <td><%= client.location %></td>
        <td><%= client.company %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>

<% content_for :knownerrors,
'
<ul>
  <li>Can\'t delete Clients because for some reason there is an issue with the user_clients table. This looks like it happens when ever a user is assigned to a client.</li>
</ul>
'.html_safe %>