<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @client.client %>
</p>

<p>
  <strong>Project status:</strong>
  <%= @client.project_status %>
</p>

<p>
  <strong>Project status:</strong>
  <%= @client.project_status %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @client.project_name %>
</p>

<p>
  <strong>Completion date:</strong>
  <%= @client.completion_date %>
</p>

<p>
  <strong>Completion month:</strong>
  <%= @client.completion_month %>
</p>

<p>
  <strong>Budget revenue:</strong>
  <%= @client.budget_revenue %>
</p>

<p>
  <strong>Budget margin:</strong>
  <%= @client.budget_margin %>
</p>

<p>
  <strong>Budget margin:</strong>
  <%= @client.budget_margin %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
