<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% if current_user.profile %>
  <button class="btn btn-warning">You've set up a profile. Good for you!</button>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign In', user_session_path, method: :get %>
<% end %>

<br>
  <hr>
<br>

<% if current_user.profile %>
      <span>Welcome back, <%= current_user.profile.company_name %>,
      you're role is
        <% if current_user.has_role? :admin %>
            <span><strong>admin</strong></span>
            <% else current_user.has_role? :super_admin %>
              <span><strong>super admin</strong></span>
        <% end %>
      </span>
  <% else %>
      <span>How about creating <%= link_to 'a profile?', new_profile_path %></span>
      <br>
      <hr>
<% end %>
<br><br>
<% User.all.each do |user| %>
  <%= user.email %> | <%# link_to 'Delete', destroy_me_path, method: :delete, data: { confirm: "You sure?" } %>
  <%= link_to 'Delete User', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<br><br>
<strong>I'm up to...</strong>
<ul>
  <li>Most recent: I'm up to redirecting a user to the 'create a profile' page automatically after log in if they haven't set up a profile using "if current_user.profile"</li>
  <li>Creating the user_controller and making an admin and a super admin <span class="btn btn-warning btn-sml">In Progress, privelages for admin/super need to be defined</span></li>
  <li>Need to limit profile create to 1 per user and prevent them from seeing anyone else's profiles</li>
  <li>Create a 'delete' def in user to log out a user <span class="btn btn-success btn-sml">Done!</span></li>
  <li>Force a user to create a profile before going any further or being able to see another page. Always direct to profile.</li>
</ul>