<h1>Manage Staff</h1>
<p>Click on a staff member's name to manage their clients, account details and assign admins. For more on staff account management, <%= link_to 'click here', helps_path %>.</p>
<!-- The below code is a basic example of how to send inforation via POST (secure over HTTP) to the view controller. -->
<%# form_tag do %>
    <%# text_field_tag 'name' %>
    <%# @clients.all.each do |c| %>
        <%# check_box_tag '[c.id][]', c.id %><br>
    <%# end %>
    <%# submit_tag 'Submit', class: 'btn btn-positive' %>
<%# end %>
<%# unless @name.nil? %>
<!-- <h4>Your name is now... <%= @name %></h4> -->
<%# end %>
<ul class="list-group col-lg-10">
    <% @profiles.all.each do |p| %>
        <li class="list-group-item">
<!-- LEFT COL -->
            <span>
                <strong><%= link_to p.full_name, profile_path(p) %></strong><br>
                <strong>Clients: </strong>
                <% p.user.clients.all.each do |c| %>
                    <i><%= link_to @clients.find(c).client_name, client_path(c) %>  </i>
                <% end %>
            </span>
<!-- RIGHT COL -->   
            <span class="pull-right">
                <%= link_to '<i class="fa fa-cogs" aria-hidden="true"></i> Manage Clients'.html_safe, profile_path(p) %> 
                <% if (current_user == p.user) || (p.user.has_role? :super_admin) %>
                <% else %>
                    |  <%= link_to '<i class="fa fa-user-times" aria-hidden="true"></i> delete user'.html_safe, p.user, method: :delete, data: { confirm: "Warning! You are about to delete this user. This action can not be undone. Do you wish to proceed?" } %>
                <% end %>
            </span>
        </li>
    <% end %>
</ul>