<h1>Manage Users</h1>
<h5>Select a user below and assign clients to them.</h5>
<%= form_tag do %>
    <%= text_field_tag 'name' %>
    <%= @clients.all.each do |c| %>
        <%= check_box_tag '[c.id][]', c.id %><br>
    <% end %>
    <%= submit_tag 'Submit', class: 'btn btn-positive' %>
<% end %>
<% unless @name.nil? %>
<h4>Your name is now... <%= @name %></h4>
<% end %>
<%= User.find(7).clients(1) %>

<% @users.all.each do |user| %>
    <div class="col-lg-4 alert alert-info" style="margin: 5px; background-color: #f0f0f0; border: 1px solid #eaeaea;">
        <h4><%= user.email %></h4>
        <p><strong><%= user.email %>'s Clients:</strong></p>
            <% user.clients.all.each do |client| %>
                <%= link_to client.client_name, remove_client_path(selected_user: user, client: client), class: 'btn btn-warning btn-sm' %> 
            <% end %>
        <hr>
        <p><strong>Add clients:</strong><br>
        <!-- Test to assign clients to a user -->
            <% @clients.all.each do |client| %>
                <% if user.clients.include?(client) %>
                <% else %>
                <%= link_to client.client_name, add_client_path(selected_user: user, client: client) , class: 'btn btn-primary btn-sm' %>
                <% end %>
            <% end %>
        </p>
    </div>
<% end %>
