<h1>Help</h1>

<div class="col-md-3 col-sx-12">
<h3>Jump To:</h3>
<ul>
<% @helps.each do |h| %>
  <% if (h.access_level == 'Admin') && ((current_user.has_role? :admin) || (current_user.has_role? :super_admin)) %>
  <!-- Print out the help file only to admins -->
    <li><%= link_to h.title, helps_path(anchor: h.anchor_id) %></li>
  <% elsif (h.access_level == 'All') %>
  <!-- Display for everyone if for 'all' -->
    <li><%= link_to h.title, helps_path(anchor: h.anchor_id) %></li>
  <% else %>
  <!-- Otherwise skip (so users don't see admin posts) -->
  <% end %>
<% end %>
</ul>
</div>

<div class="col-md-9 col-sx-12">
<% @helps.each do |h| %>
  <% if (h.access_level == 'Admin') && ((current_user.has_role? :admin) || (current_user.has_role? :super_admin)) %>
  <!-- Print out the help file only to admins -->
    <p id="<%= h.anchor_id %>">
    <h2><%= h.title %></h2>
    <span style="font-size: 8pt; color: #58b2ff"><%= h.category %> | 
    For: <%= h.access_level %></span>
    <hr>
    <%= h.body %></p>
    <hr>
  <% elsif (h.access_level == 'All') %>
  <!-- Display for everyone if for 'all' -->
    <p id="<%= h.anchor_id %>">
    <h2><%= h.title %></h2>
    <span style="font-size: 8pt; color: #58b2ff"><%= h.category %> | 
    For: <%= h.access_level %></span>
    <hr>
    <%= h.body %></p>
    <hr>
  <% else %>
  <!-- Otherwise skip (so users don't see admin posts) -->
  <% end %>
<% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Access level</th>
      <th>Body</th>
      <th>Anchor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @helps.each do |help| %>
      <tr>
        <td><%= help.title %></td>
        <td><%= help.category %></td>
        <td><%= help.access_level %></td>
        <td><%= help.body %></td>
        <td><%= help.anchor_id %></td>
        <td><%= link_to 'Show', help %></td>
        <td><%= link_to 'Edit', edit_help_path(help) %></td>
        <td><%= link_to 'Destroy', help, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Help', new_help_path %>
