<%= form_for(@search) do |s| %>
<div class="alert alert-info col-lg-12">
<div class="col-lg-12">
    <span class="field" style="margin-right: 50px" >
        <%= s.label :location %>
        <%= s.collection_select :location, @location, :id, :location, {}, {multiple: true, include_blank: false} %>
    </span>
    <span class="field" style="margin-right: 50px" >
        <%= s.label :client, collection: @client %>
        <%= s.collection_select :client, current_user.clients, :id, :client_name, {}, {multiple: true, include_blank: false} %>
    </span>
</div>
<div class="col-lg-12" style="padding-top: 10px;">
    <span class="field" style="margin-right: 50px">
        <%= s.label :from_date %>
        <%= s.text_field :from_date, value: Date.today.beginning_of_year.to_formatted_s(:rfc822), input_html: { autocomplete: 'off' } %>
    </span>

    <span class="field" style="margin-right: 50px">
        <%= s.label :to_date %>
        <%= s.text_field :to_date, value: Date.today.end_of_year.to_formatted_s(:rfc822), input_html: { autocomplete: 'off' } %>
    </span>
    
    <span class="action">
        <%= s.submit "search", class: "btn btn-primary" %>
    </span>
</div>
</div>
<% end %>
