<%= form_for(@search) do |s| %>

<span class="field" style="margin-right: 50px" >
    <%= s.label :client, collection: @client %>
    <%= s.collection_select :client, @client, :client_name, :client_name, {}, {multiple: true} %>
</span>

<span class="field" style="margin-right: 50px" style="width: 600px; background-color: red;" >
    <%= s.label :project %>
    <%= s.grouped_collection_select :project, @client, :projects, :client_name, :project_name, :project_name, {}, {multiple: true}  %>
</span>

<span class="action">
    <%= s.submit "search", class: "btn btn-primary" %>
</span>

<% end %>