<%= form_for(@search) do |s| %>

<span class="field" style="margin-right: 50px" >
    <%= s.label :client, collection: @client %>
    <%= s.collection_select :client, @client, :client_name, :client_name, include_blank: false %>
</span>

<span class="field" style="margin-right: 50px" >
    <%= s.label :project %>
    <%= s.collection_select :project, Project.all, :project_name, :project_name, include_blank: true %>
    <%# s.select :project, ['All', options_for_select(@project)] %>
</span>

<span class="action">
    <%= s.submit "search", class: "btn btn-primary" %>
</span>

<% end %>

<%# @project %>

