<%= form_for(@search) do |s| %>

<span class="field" style="margin-right: 50px" >
    <%= s.label :client, collection: @client %>
    <%= s.collection_select :client, @client, :id, :client_name, {}, {multiple: true} %>
    <%= link_to 'test', '../projects/select_projects/' %>
</span>

<span class="field" style="margin-right: 50px" >
    <%= s.label :project %>
    <%= s.grouped_collection_select :project, @client, :projects, :client_name, :id, :project_name, {}, {multiple: true}  %>
</span>

<span class="action">
    <%= s.submit "search", class: "btn btn-primary" %>
</span>

<% end %>