<%= render 'form' %>

<h1>Results</h1>


<%# @project.group_by_day(:completion_date, last: 8, current: true).count do |a| %>
  <%# a %>
<%# end %>

<%= scatter_chart Project.pluck(:budget_margin, :budget_revenue), colors: ["red"], ytitle: "Budget Margin", xtitle: "Budget Revenue" %>
<%= pie_chart Project.group(:client).order(:client).count %>
<%= pie_chart Project.group(:client).order(:client).limit(3).sum(:budget_revenue), colors: ["red","blue","orange"] %>

<%# line_chart @project.map { |goal|
    {name: goal.project_name, data: goal.budget_margin.group_by_week(:created_at).count}
} %>

    <table class="table">
  <thead>
    <tr> 
      <th>Client</th>
      <th>Project status</th>
      <th>Project name</th>
      <th>Completion date</th>
      <th>Completion month</th>
      <th>Budget revenue</th>
      <th>Budget margin</th>
      <th>Budget margin %</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> 
    <% @project.each do |project| %>
      <tr>
        <td><%= project.client %></td>
        <td><%= project.project_status %></td>
        <td><%= project.project_name %></td>
        <td><%= project.completion_date %></td>
        <td><%= project.completion_month %></td>
        <td><%= project.budget_revenue %></td>
        <td><%= project.budget_margin %></td>
        <td><%= project.budget_margin_pct %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
