<%= render 'form' %>

<div class="alert alert-warning">
<br> <p>Showing results from the <strong><%= @found_search.from_date.strftime('%d %B %Y') %></strong> to the <strong><%= @found_search.to_date.strftime('%d %B %Y') %></strong>.</p>
</div>

<!-- The below are the 3 sets of data, current_data is from the database, the other two are hard coded arrays found in the model -->
<% last_years_data = Search.get_dataset_record_by_search_date(Search.past_sample_data2, @found_search.from_date - 1.year, @found_search.to_date - 1.year) %>
<% forecast_data = Search.get_dataset_record_by_search_date(Search.forecast_sample_data2, @found_search.from_date, @found_search.to_date) %>


<% test_A = Client.all.map do |clients|  %>
  <% [clients.client_name, clients.projects.map { |p| [p.id , p.project_name ] } ] %>
<% end %>
<!-- The above is using map, to map a sub table of client (projects) and saving the desired files as an array. You get two arrays becayse the first loop creates an array [client hash + [the mapped projects array] -->

<!-- below I'm trying to query my own hash, not sure how to do "is bettween this date and that date" -->

<!-- HOW TO GET DATA FROM ARRAYS
--------------------------------
   UNCOMMENT TO TEST DATA
--------------------------------

<div class="col-lg-4">
<ul>
<% last_years_data.each do |fa| %>
  <li><%= fa[:record_date].to_date.strftime('%b %Y') %> – <%= fa[:budget_margin] %></li>
  <hr>
<% end %>
</ul>
</div>

<div class="col-lg-4">
<ul>
<% @found_search.budget_margin_by_month.each do |lak| %>
  <li><%= lak[0].strftime('%b %Y') %> – <%= lak[1] %></li>
  <hr>
<% end %>
</ul>
</div>

<div class="col-lg-4">
<ul>
<% forecast_data.each do |forecastdata| %>
  <li><%= forecastdata[:record_date].to_date.strftime('%b %Y') %> – <%= forecastdata[:budget_margin] %></li>
  <hr>
<% end %>
</ul>
</div>
-->
<%= hello = @found_search.clients.pluck(:client_name) %>
<% current_data = Project.where(client: @found_search.clients.pluck(:client_name)) %>
<%= current_data.count %>

<br><br>
Have you specified projects?
<strong><% if @found_search.clients.count.nil? %>
          <%= 'No' %>
      <% else %>
          <%= 'Yes' %>
      <% end %>
</strong>

<div id="sold-position" style="display: block;"></div>

<script>
var chart = c3.generate({
    bindto: '#sold-position',
    data: {
      x: 'x',
      columns: [
        ['x', 
        <% last_years_data.each do |d| %>
          '<%= d[:record_date].to_date.strftime('%F') %>',  
        <% end %>
        ],
        
        ['2016 Actual', 
        <% @found_search.budget_margin_by_month.each do |data| %>
          <%= data[1] %>, 
         <% end %>
        // taking the past data (usually a full year) and subtracting it from the current data I'll be graphing
        // I then use that number to determine how many 'null's I must return to avoid the tool tip being stuck at the right of the graph
         <%= 'null, ' * (last_years_data.count - @found_search.budget_margin_by_month.count) %>
         ],
         
         ['2016 Projected', 
        <% forecast_data.each do |forecast| %>
          <%= forecast[:budget_margin] %>, 
         <% end %>
         ],
        
        ['2015 Actual', 
        <% last_years_data.each do |past| %>
          <%= past[:budget_margin] %>, 
         <% end %>
         ]
      ],
      colors: {
            '2016 Actual': '#2cd554',
            '2016 Projected': '#1bc4fc',
            '2015 Actual': '#fdaf5a'
        }
    },
    axis : {
      x: {
            type: 'timeseries',
            tick: {
                culling: false,
                format: '%b'
            }
        },
        y: {
            tick: {
            format: d3.format("$,.2f")
            }
        }
    },
});
 </script>

<h1>Results</h1>
<% if @found_search.projects.empty? %>
    <p>No Records Found</p>
<% else %>
    <table class="table">
  <thead>
    <tr>
      <th>Client</th>
      <th>Project status</th>
      <th>Project name</th>
      <th>Completion date</th>
      <th>Completion month</th>
      <th>Budget revenue</th>
      <th>Budget margin</th>
      <th>Budget margin %</th>
      <th>Date Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> 
    <% @found_search.projects.each do |project| %>
      <tr>
        <td><%= project.client %></td>
        <td><%= project.project_status %></td>
        <td><%= project.project_name %></td>
        <td><%= project.completion_date %></td>
        <td><%= project.completion_month %></td>
        <td><%= project.budget_revenue %></td>
        <td><%= project.budget_margin %></td>
        <td><%= project.budget_margin_pct %></td>
        <td><%= project.updated_at %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
