<%= render 'form' %>

<%# line_chart Project.where(id: @found_search.projects.pluck(:id)).group_by_month(:created_at).sum(:budget_margin) %>
<% current_data = Project.where(id: @found_search.projects.pluck(:id)).group_by_month(:created_at).sum(:budget_margin) %>

<%# @found_search.projects.where { |project| 
  {name: project.project_name, data: project.class.group(:created_month).sum(:budget_margin)}
} %>

<div id="test" ></div>

<script>
var chart = c3.generate({
    bindto: '#test',
    data: {
      x: 'date',
      columns: [
        ['date', '2015-01-01', '2015-02-01', '2015-03-01', '2015-04-01', '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01', ],
        ['2016 Actual', 
        <% current_data.each do |data| %>
          <%= data[1] %>, 
         <% end %>
         ],
         ['2016 Projected', 
        <% Search.forecast_sample_data.each do |forecast| %>
          <%= forecast[1] %>, 
         <% end %>
         ],
        ['2015 Actual', 
        <% Search.past_sample_data.each do |past| %>
          <%= past[1] %>, 
         <% end %>
         ]
      ],
      colors: {
            '2016 Actual': '#2cd554',
            '2016 Projected': '#1bc4fc',
            '2015 Actual': '#fdaf5a'
        }
    },
    axis : {
        y : {
            tick: {
            format: d3.format("$,.2f")
            }
        },
        x : {
            type : 'timeseries',
            tick: {
              format: '%b' // format string is also available for timeseries data
            }
        }
    }
});
</script>

<h1>Results</h1>
<% if @found_search.projects.empty? %>
    <p>No Records Found</p>
<% else %>
    <table class="table">
  <thead>
    <tr>
      <th>Client</th>
      <th>Project status</th>
      <th>Project name</th>
      <th>Completion date</th>
      <th>Completion month</th>
      <th>Budget revenue</th>
      <th>Budget margin</th>
      <th>Budget margin %</th>
      <th>Date Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> 
    <% @found_search.projects.each do |project| %>
      <tr>
        <td><%= project.client %></td>
        <td><%= project.project_status %></td>
        <td><%= project.project_name %></td>
        <td><%= project.completion_date %></td>
        <td><%= project.completion_month %></td>
        <td><%= project.budget_revenue %></td>
        <td><%= project.budget_margin %></td>
        <td><%= project.budget_margin_pct %></td>
        <td><%= project.updated_at %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
