<%= render 'form' %>

<%# line_chart Project.where(id: @found_search.projects.pluck(:id)).group_by_month(:created_at).sum(:budget_margin) %>
<% current_data = Project.where(id: @found_search.projects.pluck(:id)).group_by_month(:created_at).sum(:budget_margin) %>

<%# @found_search.projects.where { |project| 
  {name: project.project_name, data: project.class.group(:created_month).sum(:budget_margin)}
} %>

<div id="sold-position" ></div>

<script>
var chart = c3.generate({
    bindto: '#sold-position',
    data: {
      x: 'x',
      columns: [
        ['x', 
        <% Search.past_sample_data.each do |past| %>
          '<%= past[0] %>',  
        <% end %>
        ],
        ['2016 Actual', 
        <% current_data.each do |data| %>
          <%= data[1] %>, 
         <% end %>
        // taking the past data (usually a full year) and subtracting it from the current data I'll be graphing
        // I then use that number to determine how many 'null's I must return to avoid the tool tip being stuck at the right of the graph
         <%= 'null, ' * (Search.past_sample_data.count - current_data.count) %>],
         ['2016 Projected', 
        <% Search.forecast_sample_data.each do |forecast| %>
          <%= forecast[1] %>, 
         <% end %>
         ],
        ['2015 Actual', 
        <% Search.past_sample_data.each do |past| %>
          <%= past[1] %>, 
         <% end %>
         ]
      ],
      colors: {
            '2016 Actual': '#2cd554',
            '2016 Projected': '#1bc4fc',
            '2015 Actual': '#fdaf5a'
        }
    },
    axis : {
      x: {
            type: 'timeseries',
            tick: {
                culling: false,
                format: '%b'
            }
        },
        y: {
            tick: {
            format: d3.format("$,.2f")
            }
        }
    },
});
 </script>

 <script>
// var chart = c3.generate({
//     bindto: '#test',
//     data: {
//         x: 'x',
//         columns: [
//             ['x', '2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08', '2013-01-09', '2013-01-10', '2013-01-11', '2013-01-12'],
//             ['sample', 3256870.0, 3825580.0, 4394290.0, 5550000.0, 6044000.0, 7100000.0, 7700000.0, 8154000.0, 8860000.0, 9200000.0, 9500000.0, 9600328.45,],
//             ['sample2', 3916752.11, 4626643.23, 5146264.25, 6148854.32, 6640724.57, 7409783.48, 8263054.46, 8488001.54, 8837809.1, 9068047.68, 9402019.15, 9513505.72,],
//             ['sample3', 4983561.64, 6950684.94, 7797260.28, 8326027.4, 10016438.36, 11474546.84, 14830940.66, 7630563.96,]

//         ]
//     },
//     axis: {
//         x: {
//             type: 'timeseries',
//             tick: {
//                 count: 4,
//                 format: '%Y-%m-%d'
//             }
//         },
//         y: {
//             tick: {
//             format: d3.format("$,.2f")
//             }
//         }
//     }
// });
//  </script>


<h1>Results</h1>
<% if @found_search.projects.empty? %>
    <p>No Records Found</p>
<% else %>
    <table class="table">
  <thead>
    <tr>
      <th>Client</th>
      <th>Project status</th>
      <th>Project name</th>
      <th>Completion date</th>
      <th>Completion month</th>
      <th>Budget revenue</th>
      <th>Budget margin</th>
      <th>Budget margin %</th>
      <th>Date Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> 
    <% @found_search.projects.each do |project| %>
      <tr>
        <td><%= project.client %></td>
        <td><%= project.project_status %></td>
        <td><%= project.project_name %></td>
        <td><%= project.completion_date %></td>
        <td><%= project.completion_month %></td>
        <td><%= project.budget_revenue %></td>
        <td><%= project.budget_margin %></td>
        <td><%= project.budget_margin_pct %></td>
        <td><%= project.updated_at %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
