<%= render 'form' %>

<div class="alert alert-warning">
<br> <p>From: </p><%= @found_search.from_date.to_s %> <p> To: </p><%= @found_search.to_date.to_s %>
</div>

<%# line_chart Project.where(id: @found_search.projects.pluck(:id)).group_by_month(:created_at).sum(:budget_margin) %>
<% current_data = Project.where(id: @found_search.projects.pluck(:id)).group_by_month(:created_at).sum(:budget_margin) %>

<% test_A = Client.all.map do |clients|  %>
  <% [clients.client_name, clients.projects.map { |p| [p.id , p.project_name ] } ] %>
<% end %>
<!-- The above is using map, to map a sub table of client (projects) and saving the desired files as an array. You get two arrays becayse the first loop creates an array [client hash + [the mapped projects array] -->

<!-- below I'm trying to query my own hash, not sure how to do "is bettween this date and that date" -->
<%= Search.get_budget_margin_histdata_by_search_date(Search.past_sample_data2, @found_search.from_date, @found_search.to_date) %>

<div id="sold-position" ></div>

<script>
var chart = c3.generate({
    bindto: '#sold-position',
    data: {
      x: 'x',
      columns: [
        ['x', 
        <% @found_search.budget_margin_by_month.each do |d| %>
          '<%= d[0].strftime('%F') %>',  
        <% end %>
        ],
        ['2016 Actual', 
        <% @found_search.budget_margin_by_month.each do |data| %>
          <%= data[1] %>, 
         <% end %>
        // taking the past data (usually a full year) and subtracting it from the current data I'll be graphing
        // I then use that number to determine how many 'null's I must return to avoid the tool tip being stuck at the right of the graph
         <%= 'null, ' * (Search.past_sample_data.count - current_data.count) %>],
         ['2016 Projected', 
        <% Search.forecast_sample_data.each do |forecast| %>
          <%= forecast[1] %>, 
         <% end %>
         ],
        ['2015 Actual', 
        <% Search.past_sample_data.each do |past| %>
          <%= past[1] %>, 
         <% end %>
         ]
      ],
      colors: {
            '2016 Actual': '#2cd554',
            '2016 Projected': '#1bc4fc',
            '2015 Actual': '#fdaf5a'
        }
    },
    axis : {
      x: {
            type: 'timeseries',
            tick: {
                culling: false,
                format: '%b'
            }
        },
        y: {
            tick: {
            format: d3.format("$,.2f")
            }
        }
    },
});
 </script>

<h1>Results</h1>
<% if @found_search.projects.empty? %>
    <p>No Records Found</p>
<% else %>
    <table class="table">
  <thead>
    <tr>
      <th>Client</th>
      <th>Project status</th>
      <th>Project name</th>
      <th>Completion date</th>
      <th>Completion month</th>
      <th>Budget revenue</th>
      <th>Budget margin</th>
      <th>Budget margin %</th>
      <th>Date Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> 
    <% @found_search.projects.each do |project| %>
      <tr>
        <td><%= project.client %></td>
        <td><%= project.project_status %></td>
        <td><%= project.project_name %></td>
        <td><%= project.completion_date %></td>
        <td><%= project.completion_month %></td>
        <td><%= project.budget_revenue %></td>
        <td><%= project.budget_margin %></td>
        <td><%= project.budget_margin_pct %></td>
        <td><%= project.updated_at %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
